{% extends 'base.html' %}

{% block body %}
<div class="container">

  <h1>{{ people.username }} 
  <!-- 만약 현재 접속한 유저가 해당 페이지의 유저르 ㄹ이미 팔로우 한 경우, -->
  {% if user != people %}
    {% if people in user.followings.all %}
      <a class="btn btn-outline-primary" href="{% url 'accounts:follow' people.id %}">언팔로우</a>
    {% else %}
      <a class="btn btn-primary" href="{% url 'accounts:follow' people.id %}">팔로우</a>
    {% endif %}
  {% endif %}
  </h1>
  
  
  <p><strong>{{ people.profile.nickname }}</strong></p>
  <p>{{ people.profile.description }}</p>
  <p>{{people.last_name}}{{people.first_name}}</p>
  <!--templates에서는 request.user를 user라고 작성해도 된다.-->
  <!--people을 print하면 string이 나오기 때문에 people.username 안쓰고 그대로 써줘도 된다.-->
  {% if user == people %}
  <a class="btn btn-success" href="{% url 'accounts:password' %}">비밀번호변경</a>
  
  <a class="btn btn-success" href="{% url 'accounts:update' %}">회원정보수정</a>
  <a class="btn btn-danger" href="{% url 'accounts:delete' %}">회원정보탈퇴</a>
  {% endif %}
  <div class="row">
    {% for post in people.post_set.all %}
    <div class="col-4">
      <img src="{{ post.image.url }}" class="img-fluid">
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}