{% extends 'base.html' %}

{% load bootstrap4 %}

{% block body %}
  <div class="row justify-content-center">
    {% for post in posts %}
      <div class="card" style="width: 40rem;">
        <div class="card-header">
          <span>{{ post.user }}</span>
        </div>
        <img src="{{ post.image.url }}" class="card-img-top" alt="...">
        <!--https://picsum.photos/200/200/?random-->
        <div class="card-body">
          <p class="card-text">{{ post.content }}</p>
          
          <!-- 작성자만 수정/삭제 가능 -->
          {% if post.user == request.user %}
            <a href="{% url 'posts:delete' post.id %}" class="btn btn-danger">삭제</a>
            <a href="{% url 'posts:update' post.id %}" class="btn btn-success">수정</a>
          {% endif %}
        </div>
        <!-- 좋아요 버튼 -->
        <div class="card-body">
          <a href="{% url 'posts:like' post.id %}">
            <!-- 해당 유저가 like를 했으면, -->
            {% if user in post.like_users.all %}
            <!-- user에 request.user 써도 됨-->
            <i class="fas fa-heart"></i>
            <!-- 아니면, -->
            {% else %}
            <i class="far fa-heart"></i>
            {% endif %}
          </a>
          <p class="card-text">
            {{ post.like_users.count }}명이 좋아합니다.
          </p>
        </div>
        {% if user.is_authenticated %}
          <div class="card-body">
            <!-- Comment에 대한 ModelForm -->
            <form method="POST" action="{% url 'posts:comment_create' post.id %}">
              {% csrf_token %}
              <!-- bootstrap_form -->
              {% bootstrap_form comment_form %}
              <button type="submit" class="btn btn-success">댓글쓰기</button>
            </form>
            
            <!-- 해당 글에 작성된 댓글을 모두 출력 -->
            <div class="card-body">
              {% for comment in post.comment_set.all %}
                <div class="card-text">
                  <strong>{{ comment.user.username }}</strong> {{ comment.content }}
                  {% if comment.user == request.user %}
                    <a href="{% url 'posts:comment_delete' comment.id %}" class="btn btn-danger">삭제</a>
                  {% endif %}
                </div>
                {% empty %}
                <div>댓글이 없습니다.</div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}